<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IChuckNorrisService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:24059/ChuckNorrisService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IChuckNorrisService"
                contract="ServiceReference.IChuckNorrisService" name="WSHttpBinding_IChuckNorrisService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>